@{
    
}

<style type="text/css">
    #normal {
        font-weight: bold
    }    
</style>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"]</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center" id="normal">CSS Demo</div>
